
<div id="pic">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header"><a href="#" class="navbar-brand navbar-link" id="home"><strong>HOME</strong> </a>
                    <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation" class="active"><a href="#">skills </a></li>
                        <li role="presentation"><a href="#">Experience </a></li>
                        <li role="presentation"><a href="#">Hobbies </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div><img src="personalpics/wale.jpg" height="300" class="center-block" />
    <div id="nav-bar">
        <p id="alpha">Software Engineer | Army Officer Candidate</p>
    </div>
</div>
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Oladejo Olakareem, MBA</h2>
            <p class="text-center">Continuous Improvement is better than delayed perfection. MarkTwain</p>
        </div>
        <div class="row articles">
            <div class="col-md-4 col-sm-6 item">
                <a href="#"><img src="personalpics/skills.jpg" class="img-responsive" /></a>
                <h3 class="name">Skills </h3>
                <p class="description">Javascript,CSS,HTML,Ruby,Rails,React,,Sinatra, API Development</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img src="personalpics/experience.jpeg" class="img-responsive" /></a>
                    <h3 class="name">Experience </h3>
                    <p class="description">An experienced banker turn software engineer . Programming is the language of the future and I like working with teams to turn ideas into profitable web/mobile applications.Being part of a management team that ran a $1.5 billion dollar
                        generating revenue branch, equipped me with sufficient leadership skills and I successfully developed a plan for the team that reduced the turn over rate by 40%.Bringing my expertise into the tech industry and working with other
                        programmers/software engineer help develop my programming skills and Engineering empathy needed for every successful project. </p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                        <div class="col-md-4 col-md-offset-0 col-sm-6 item">
                            <a href="#"><img src="personalpics/hobbies.jpg" height="120" class="img-responsive" /></a>
                            <h3 class="name">Hobbies </h3>
                            <p class="description">I love to code on my free time,creating new things,or improving old designs. You will catch me workingout when am not coding,it is also a passion of mine.Outside on a sunny day,I will either be playing soccer,Volleyball or throwing
                                a frisbee.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-clean">
                        <form method="post">
                            <h2 class="text-center">Contact me</h2>
                            <div class="form-group">
                                <input type="text" name="name" required placeholder="Name" autocomplete="on" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" required placeholder="Email" inputmode="email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <textarea rows="14" wrap="hard" spellcheck="true" name="message" required placeholder="Message" autocomplete="on" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">send </button>
                            </div>
                        </form>
                    </div>
                    <div></div>
